/.quarto/
/_output/
**/*_files/
**/rfem/*.pdf

0*/*/*.pdf
0*/*/*.tex

old
decktape

*.rf6bak
*.sqlite
*.$d1
*.$d2
*.erg
*.cdb
*.lst
*.plb
*.prt
*.html
*.ipynb
*Zone.Identifier
be*.zip


04-platten/folien/src/dev.jl
