.up10 {
    display: block;
    margin-top: -10px;
}

.up20 {
    display: block;
    margin-top: -20px;
}

.up30 {
    display: block;
    margin-top: -30px;
}

.up40 {
    display: block;
    margin-top: -40px;
}

.up50 {
    display: block;
    margin-top: -50px;
}

.up60 {
    display: block;
    margin-top: -60px;
}

.up80 {
    display: block;
    margin-top: -80px;
}

.down10 {
    display: block;
    margin-top: 10px;
}

.down20 {
    display: block;
    margin-top: 20px;
}

.down30 {
    display: block;
    margin-top: 30px;
}

.down40 {
    display: block;
    margin-top: 40px;
}

.down50 {
    display: block;
    margin-top: 50px;
}

.down60 {
    display: block;
    margin-top: 60px;
}

.down80 {
    display: block;
    margin-top: 80px;
}

.down100 {
    display: block;
    margin-top: 100px;
}

.down120 {
    display: block;
    margin-top: 120px;
}

.down140 {
    display: block;
    margin-top: 140px;
}
