.bildunterschrift {
    position: fixed;
    top: -30px;
    left: -130px;
    font-size: 0.45em;
    color: white;
}

.bildunterschrift-s {
    position: fixed;
    top: -30px;
    left: -130px;
    font-size: 0.45em;
    color: black;
}

.bildunterschrift-b {
    position: fixed;
    top: -30px;
    left: -130px;
    font-size: 0.45em;
    color: blue;
}

